<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/Scripts/expcsv.js")
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Crypto-Keepers DFS Data Junction</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NYDFS Data Junction", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Alerts", "Index", "alerts")</li>
                    <li>@Html.ActionLink("Regulated Entities", "Index", "entities")</li>
                    <li>@Html.ActionLink("Priority Types", "Index", "priorities")</li>
                    <li>@Html.ActionLink("Incident Types", "Index", "types")</li>
                    <li>@Html.ActionLink("Flag Reason", "Index", "flags")</li>
                    <li>@Html.ActionLink("Coins", "Index", "coins")</li>
                    <li>@Html.ActionLink("Transactions", "Index", "txes")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - The DFS Data Junction - Powered by Crypto-Keepers</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    
</body>
</html>
